ion-toolbar {
  --background: #ffffff00; /* Cambia a tu color deseado */
}

.centrar{
    text-align: center;
}

.card{
    border-radius: 10px;
    color: #a1a1a1ff;
}

  ion-content {
    --ion-background-color: #9b2f2f; 
  }